#tree ul li a{
  background: none;
  padding: 0px;
}

.ajax_form .label {
  font-weight: bold;
}

.ajax_form label.error {
  color: red;
}

.ajax_form .field {
  margin-bottom: 10px;
}

.ajax_form ul {
  margin: 5px;
}

.ajax_form ul li{
  list-style: none;
}